# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Poetry
poetry.lock

# OS
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/

# VSCode
.vscode/

# Sample outputs
samples/*.npz
samples/*.npy
src/tscv_vision/_encoders_cy*.so
dist/
